CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partition_table.csv"
CONFIG_PARTITION_TABLE_FILENAME="custom"
CONFIG_DB_DEFAULT_KEY="changeme"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
